.notification {
  position: fixed;
  width: 500px;
  margin: 15px auto 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 35px;
  background-color: var(--board-bg);
  border: 1px solid #716868;
  border-radius: 6px;
  font-size: 14px;
  z-index: 99;
  animation: fadeIn .4s ease;
}

.notification .notification-text {
  margin: 0 0 4px;
}

.notification .notification-note {
  font-size: 20px;
}

.notification .notification-note.positive {
  color: #4ea8ac;
}

.notification .notification-note.negative {
  color: #dc5aa2;
}

@keyframes fadeIn {
  0% { 
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
