.board-wrapper {
  position: relative;
}

.sound-control {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
  color: #c2bcc3;
}

.sound-control.on {
  color: #aa67d3;
}

.information-wrapper {
  display: flex;
  text-align: left;
  color: #9a9999;
}

.information-wrapper .information-board {
  flex: 1 1 0px;
  padding: 0 25px;
  border-right: 1px solid #4f4b52;
}

.information-wrapper .information-header {
  margin-bottom: 10px;
  letter-spacing: 2px;
  color: #a564bb;
}

.information-wrapper .information-text {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;;
}

.information-wrapper .information-note {
  vertical-align: middle;
  font-size: 20px;
  color: #a564bb;
}

.information-wrapper .information-note.positive {
  color: #4ea8ac;
}

.information-wrapper .information-note.negative {
  color: #dc5aa2;
}