:root {
  --board-bg: #151823;
  --snake-color: #6c6077;
  --snake-border: 6px;
  --cell-size: 30px;
}

body, html, #root {
  min-height: 100%;
  font-size: 16px;
}

body {
  height: 100vh;
}

h4 {
  margin-top: 4px;
}

hr {
  height: 1px;
  border: none;
  margin: 8px 0;
  background-color: #4f4b52;
}

#root {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #1d212b;
  color: #fff;
  background-image: url('./images/bg.png');
}
